<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street Corner</title>
</head>

<body bgcolor="#c7fff1">
    <nav></nav>
        <a href = "/">Home</a> |
        <a href = "/">Products</a> |
    </nav>
    <center><h1>Street Corner</h1></center>
    <center><h5>Name: </h5></center>
    <p align="center">{{ name }}<p>
    <center><h5>NPM: </h5></center>
    <p align="center">{{ npm }}</p>
    <center><h5>Class: </h5></center>
    <p align="center">{{ class }}</p>
</body>

</html>






